        <div class="jumbotron">
          <div class="container">
            <h1>Justin Fischer</h1>
            <p>On this website you'll find information about me and some of the things that I'm interested in. Feel free to contact me if you'd like to get more information.</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="mailto:justinrfischer@gmail.com?Subject=Hello%20From%20JustinRFischer.com" target="_blank">Contact &raquo;</a></p>
          </div>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-3 panel panel-default" id="divTrans50" onClick="getResumePage()">
              <div class="panel-heading" id="divTrans75"><h2>Resume</h2></div>
              <div class="panel-body">
              <p>You'll find all the standard stuff here, contact info, experience, qualifications, and school.</p>
              </div>
              <p><a class="btn btn-default" id="secondaryBtn" href="#" onClick="getResumePage()" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 panel panel-default" id="divTrans50" href="#" onClick="getDemoReelPage()">
              <div class="panel-heading" id="divTrans75"><h2>Demo Reel</h2></div>
                <div class="panel-body">
                    <p>A sample of moving pictures from the movies I've worked on in the past. Be sure to check to notes to see which pieces I created. </p>
                </div>
                <p><a class="btn btn-default" id="secondaryBtn" href="#" onClick="getDemoReelPage()" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 panel panel-default" id="divTrans50" href="#" onClick="getExtrasPage()">
              <div class="panel-heading" id="divTrans75"><h2>Extras</h2></div>
              <div class="panel-body"><p>A collection of work I've created outside of my normal work day.</p>
              </div>
              <p><a class="btn btn-default" id="secondaryBtn" href="#" onClick="getExtrasPage()" role="button">View details &raquo;</a></p>
            </div>
          </div>
