		<div class="jumbotron">
          <div class="container">
          	<div class="col-md-3"></div>
          	<div class="col-md-8">
	              <div class="col-md-10">
	              	<h1>How I made This Website</h1>
                  <h2>Why?</h2>
                  <p> I made this website as a place to present things like my resume and demo reel. I also want to use this as a place to show some of my latest projects or things that I've been working on. Thats why I built this Extras section. So, this first entry is going to be about how I made this website.</p>
                  <h2>What?</h2>
                  <p>What did I use to make this happen</p>
                  <ul>
                    <li>All the source code is on <b>Git Hub</b>. </li>
                    <dd><a href="https://github.com/radtad/justinrfischerapp" target="_blank"><img src="img/GitHub-Mark-64px.png">&nbsp; Take a look at the repo.</a></dd>
                    <li>I used <b>HTML5 Boilerplate</b> to get a solid starting place.</li>
                    <dd><a href="http://html5boilerplate.com/" target="_blank"><img src="img/h5bp-logo.png">&nbsp; Some great documentation here.</a></dd>
                    <li>Responvise design with <b>Bootstrap</b></li>
                    <dd><a href="http://getbootstrap.com/" target="_blank">&nbsp; An amazing framework for building a responsive website.</a></dd>
                    <li>The back end of the site is using google app engine.</li>
                    <dd><a href="https://cloud.google.com/products/app-engine/" target="_blank"><img src="img/AppEngine.png">&nbsp; Google App Engine</a></dd>
                    <li>Some javascript and Jquery on the front end</li>
                    <dd><a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank"><img src="img/js_logo_2.png">&nbsp; Very useful tools.</a></dd>
                  </ul>

	              </div>
            	</div>
            	<div class="col-md-3"></div>
        	</div>
        </div>