<div class="jumbotron">
	<div class="container">
		<form method="post">
			<div class="row">
				<label>
					<div><h3>Subject</h3></div>
					<input type="text" name="subject" width="800">
				</label>
			</div>
			<div class="row">
				<label>
					<div><h3>Content</h3></div>
					<textarea name="content" width="800"></textarea>
				</label>
			</div>
			<div class="row">
				<label>
					<div><h3>Content Url</h3></div>
					<textarea name="contentUrl" width="800"></textarea>
				</label>
			</div>
			<div class="row">
				<label>
					<div><h3>Summary</h3></div>
					<textarea name="summary" width="800"></textarea>
				</label>
			</div>
			<div class="row">
				<label>
					<div><h3>Title Image url</h3></div>
					<input type="text" name="titleimageurl" width="800">
				</label>

				<div class="error">{{error}}</div>
				<input type="submit">
			</div>
		</form>
	</div>
</div>